OS_AUTH_URL=YOUR_AUTHENTICATION_ENDPOINT
OS_IDENTITY_API_VERSION=3
OS_INTERFACE=public
OS_PASSWORD=YOUR_PASSWORD
OS_PROJECT_ID=YOUR_PROJECT_ID
OS_PROJECT_NAME=YOUR_PROJECT
OS_REGION_NAME=YOUR_REGION
OS_USERNAME=YOUR_USERNAME
OS_USER_DOMAIN_NAME=YOUR_DOMAIN
