gnocchiclient
python-barbicanclient
python-ceilometerclient
python-cinderclient
python-cloudkittyclient
python-designateclient
python-fuelclient
python-glanceclient
python-heatclient
python-ironicclient
python-keystoneclient
python-magnumclient
python-manilaclient
python-mistralclient
python-monascaclient
python-muranoclient
python-neutronclient
python-novaclient
python-saharaclient
python-senlinclient
python-swiftclient
python-troveclient

python-openstackclient
