# The upstream repo (https://github.com/openstack/osc-lib) has an incomplete
# fix (e3d7720). The repo was forked and the bug fully fixed (6d41c0f).
git+https://github.com/psmiraglia/osc-lib.git

# OpenStack clients
gnocchiclient
python-barbicanclient
python-ceilometerclient
python-cinderclient
python-cloudkittyclient
python-designateclient
python-fuelclient
python-glanceclient
python-heatclient
python-ironicclient
python-keystoneclient
python-magnumclient
python-manilaclient
python-mistralclient
python-monascaclient
python-muranoclient
python-neutronclient
python-novaclient
python-saharaclient
python-senlinclient
python-swiftclient
python-troveclient

python-openstackclient
